main {
    display:flex;
    flex-flow:row wrap; 
    justify-content:center;

    margin-top:56px;
    padding-top:24px;
    background-color:#f8f8f8;
}

main #main-container {
    display:flex;
    flex-flow:row wrap;

    max-width:1720px;
    width:97%;
}

main #video-area {
    width:calc(100% - 400px);
    box-sizing:border-box;
    order:1;
}

main #video-area .video-title {
    width:100%;
    margin:30px 0 15px 0;
    font-size:19px;
}

main #video-area .video-info .video-info-head {
    display:flex;
    justify-content:space-between;
}

main #video-area .view-n-created {
    font-size: 14px;
    width:200px;
    color:#555;
}

main #video-area .v-btns-container {
    width:250px;
    color:#909090;

    display:flex;
    justify-content:space-between
}

main #video-area .v-btn {
    width:30%;

    display:flex;
    justify-content:space-around;
    align-items:center;
}

main #video-area .v-btn button {
    width:60%;
}

main #video-area .btn-text {
    display:flex;
    align-items:center;
    font-size:14px;
}

main #video-area .v-btns-container .v-icon {
    font-size:23px;
}

main #video-area .video-desc {
    margin:20px 0;
    padding:20px 0;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;

    display:flex;
}

main #video-area .video-desc .author-profile {
    font-size:45px;
    color:#b0b0b0;
    width:58px;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding-top:10px;
}

main #video-area .video-desc .desc-container {
    width:calc(100% - 58px);
}

main #video-area .video-desc .author-info {
    height:56px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

main #video-area .video-desc .author-name {
    font-size:14px;
    margin-bottom:3px;
}

main #video-area .video-desc .author-subs {
    font-size:11px;
    color:#555
}

main #video-area .subs-btn {
    width:75px;
    height:35px;
    background-color:rgb(214, 37, 37);    
    border-radius:2px;
    color:#fff;
}

main #video-area .desc-content {
    font-size:13px;
    padding:10px 0;
}

/* other-videos */
main #other-video-container {
    width:400px;
    padding:0 30px;
    box-sizing:border-box;

    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;

    order:2;
}

main #other-video-container .other-video-head {
    font-size: 16px;
    font-weight:600;
    margin-bottom:5px;
}

main #other-video-container .other-videos-list {
    width:100%;

    display:flex;
    margin:10px 0;
}

main #other-video-container a {
    display:flex;
}

main #other-video-container .thumbnail {
    width:180px;
    height:90px;
}

main #other-video-container .other-video-info {
    width:calc(100% - 180px);
    padding:0 8px;
}

main #other-video-container .other-v-title {
    font-size:14px;
    font-weight:600;
    line-height:16px;
    text-overflow: ellipsis;
    overflow:hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    margin-bottom:8px;
}

main #other-video-container .other-v-subinfo {
    font-size:13px;
    color:#707070;
}

main #other-video-container hr {
    background-color:#808080;
    margin:15px 0;
}

main #comment-container {
    width:calc(100% - 400px);
    order:3;
}

main #comment-container .comment-head {
    display:flex;
}

main #comment-container .comment-num {
    font-size:16px;
    margin-right:30px;
}

main #comment-container #sorting-rule {
    border:0;
    background-color:rgba(0,0,0,0);
    font-size:14px;
    color:#3a3a3a;
    position: relative;
}

main #comment-container #sorting-rule .fa-sort-amount-up {
    font-size:16px;
    margin-right:4px;
}

main #comment-container .sorting-opt {
    display:none;
    background-color:#fff;
    margin:5px 0;
    padding:8px 0;
    width:100px;
    box-shadow:0 0 2px 1px #dfdfdf;

    position: absolute;
    left:7px;
    bottom:-125px;
    z-index:99;
}

main #comment-container .sorting-opt-list{
    width:100%;
}   

main #comment-container .sorting-opt-btn {
    width:100%;
    height:45px;
}

main #comment-container .sorting-opt-btn:hover {
    background-color:#efefef;
}

main #comment-container .post-comment-container {
    margin-top:25px;
    display:flex;
}

main #comment-container .comment-user-profile {
    font-size:45px;
    color:#b0b0b0;
    width:58px;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
}

main #comment-container #post-comment {
    width:calc(100% - 58px);
}

main #comment-container #comment-input-container {
    width:100%;
    height:25px;
    margin-bottom:8px;
    border-bottom:1px solid #e7e7e7;
}

main #comment-container #comment-input {
    display:inline-block;
    width:100%;
    font-size:15px;
    background-color:#f8f8f8;
}

main #comment-container #form-btn-container {
    display:flex;
    justify-content:flex-end;
}

main #comment-container .form-btn {
    width:75px;
    height:35px;
    border-radius:2px;
    margin-left:8px;
}

main #comment-container #comment-submit-btn {
    background-color:#c8c8c8;
    color:#fff;
}

main #comment-container .comment-list {
    display:flex;
    margin:25px 0;
}

main #comment-container .comment-elm-container {
    width:calc(100% - 58px);
}

main #comment-container .comment-elm-head {
    font-size:14px;
    display:flex;
}

main #comment-container .comment-elm-date {
    color:#8f8f8f;
    margin-left:7px;
}

main #comment-container .comment-elm-body {
    font-size:15px;
    padding:8px 0;
}

main #comment-container .comment-elm-foot {
    display:flex;
    align-items:center;
}

main #comment-container .comment-thumbs-btn {
    margin-right:10px;
    font-size:14px;
    color:#8f8f8f;
}

main #comment-container .comment-thumbs-btn:hover {
    color:#6f6f6f;
}

main #comment-container .thumbs-num {
    font-size:12px;
    color:#8f8f8f;
    margin-right:15px;
}


@media all and (max-width:999px) {
    main #main-container {
        flex-direction:column;
    }

    main #video-area {
        width:100%;
    }
    
    main #other-video-container {
        width:100%;
        padding:0;
        margin:20px 0 30px;
    }

    main #comment-container {
        width:100%;
    }
}