main {
    display:flex;
    flex-flow:row wrap; 
    justify-content:center;

    margin-top:56px;
    padding-top:24px;
    background-color:#f8f8f8;
}

main #main-container {
    display:flex;

    max-width:1720px;
    width:97%;
}

main #video-area {
    width:calc(100% - 400px);
}

main #other-video-container {
    width:400px;
    padding:0 30px;

    display:flex;
    flex-flow:column nowrap;
    justify-content:flex-start;
}

main #other-video-container .other-video-head {
    font-size: 16px;
    font-weight:600;
    margin-bottom:5px;
}

main #other-video-container .other-videos-list {
    width:100%;
    display:flex;
    margin:10px 0;
}

main #other-video-container a {
    display:flex;
}

main #other-video-container .thumbnail {
    width:180px
}

main #other-video-container .other-video-info {
    width:calc(100% - 180px);
    padding:0 8px;
}

main #other-video-container .other-v-title {
    font-size:14px;
    font-weight:600;
    margin-bottom:8px;
}

main #other-video-container .other-v-subinfo {
    font-size:13px;
    color:#707070;
}

main #other-video-container hr {
    background-color:#808080;
    margin:15px 0;
}


@media all and (max-width:999px) {
    main #main-container {
        flex-direction:column;
    }

    main #video-area {
        width:100%;
    }
    
    main #other-video-container {
        width:100%;
        padding:0;
        margin-top:20px;
    }
}